body {
  background: #000000;
  color: #00FF00;
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#primary {
  white-space: nowrap;
}

.inp {
  text-indent: 2%;
  background: #000000;
  color: #00FF00;
  border-color: #00FF00;
  width: 160px;
  height: 40px;
  font-size: 20px;
  text-align: left;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

#submitbutton {
  background: #000000;
  color: #00FF00;
  border-color: #00FF00;
  width: 46px;
  height: 46px;
  font-size: 19px;
  vertical-align: -1px;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

#label {
  margin-top: 10px;
  padding-top: 8px;
  background: #000000;
  width: 387px;
  font-size: 20px;
  height: 30px;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

#pw{
  margin-top: 10px;
  text-indent: 2%;
  background: #000000;
  color: #00FF00;
  border-width: 2px;
  border-color: #00FF00;
  width: 384px;
  height: 40px;
  font-size: 20px;
  text-align: left;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

#pw-reject{
  margin-top: 10px;
  text-indent: 2%;
  background: #000000;
  color: #000000;
  border-width: 0px;
  border-color: #000000;
  width: 384px;
  height: 44px;
  font-size: 20px;
  text-align: left;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

